{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block title %}File Datapoint Upload - Lackawanna{% endblock title %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/upload.css' %}" rel="stylesheet">
{% endblock css %}


{% block content %}
    <div id='form' class="col-md-8">
        {% crispy form %}
        <br>
        <br>
        <br>
    </div>

    <div id="in-progress" class="col-md-8 col-lg-8" style="display: none;">
        <h1>Upload in progress...</h1>
        <i class="fa fa-refresh fa-spin fa-5x"></i>
        <br>
        <p>
            If this is a video or audio file upload will take a lot longer and, as always, is dependent on your internet connection.
        </p>
    </div>

    <div class="col-md-4">
        <div class='well'>
            <h2>What is a datapoint?</h2>
            <p>A datapoint represents a file or piece of data that you want to store within a research project you have in Lackawanna. This could be a video file, audio file, PDF, Word document, an image or basically any type of file.</p>
            <p>Once it is uploaded you can annotate the datapoint, create transcripts, organise them into collections and add additional information to contextualise your data.</p>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/upload.js' %}"></script>
{% endblock javascript %}
