{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block title %}Video Datapoint Upload - Lackawanna{% endblock title %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/upload.css' %}" rel="stylesheet">
    <link href="https://lackawanna.s3.amazonaws.com/s3direct/css/bootstrap-progress.min.css" type="text/css" media="all" rel="stylesheet">
    <link href="https://lackawanna.s3.amazonaws.com/s3direct/css/styles.css" type="text/css" media="all" rel="stylesheet">
{% endblock css %}


{% block content %}
    <div id='form' class="col-md-8">
        {% crispy form %}
        <br>
        <br>
        <br>
    </div>

    <div id="in-progress" class="col-md-8 col-lg-8" style="display: none;">
        <h1>Upload in progress...</h1>
        <i class="fa fa-refresh fa-spin fa-5x"></i>
        <br>
        <p>
            If this is a video or audio file upload will take a lot longer and, as always, is dependent on your internet connection.
        </p>
    </div>

    <div class="col-md-4">
        <div class='well'>
            <h2 class="text-warning">Warning:</h2>
            <ul>
                <li>
                    Only MP4 videos are supported. Please convert your videos to this format before upload. Software like <a href='https://handbrake.fr/'>this will do the trick.</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/upload.js' %}"></script>
    <script type="text/javascript" src="https://lackawanna.s3.amazonaws.com/s3direct/js/scripts.js"></script>
    
{% endblock javascript %}
