{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/web_upload.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <div class="page-header">
        <h1>Web Resource Upload</h1>
    </div>

    <div class="col-md-2">

    </div>

    <div id="form" class="col-md-8">
        <div class="well">
            <h2>How it works</h2>
            <p>You input the URL of a resource you want to become a datapoint. We automatically retrieve it, you check
            the details are all correct then it is saved!</p>
        </div>
        <form action="{% url 'datapoint:upload_web' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button id="upload-button" class="btn btn-primary btn-lg pull-right" type="submit"><i class="fa fa-bolt"></i> Retrieve</button>
        </form>
    </div>

    <div id="in-progress" class="col-md-8" style="display: none;">
        <h1>Retrieval in progress...</h1>
        <i class="fa fa-refresh fa-spin fa-5x"></i>
    </div>

    <div class="col-md-2">

    </div>


{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/upload.js' %}"></script>
{% endblock javascript %}
