{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block title %}File Datapoint Upload - Lackawanna{% endblock title %}

{% block content %}
    <div class="col-md-8">
        {% crispy form %}
    </div>

    <div class="col-md-4 well">
        <h2>What is a datapoint?</h2>
        <p>A datapoint represents a file or piece of data that you want to store within a research project you have in Lackawanna. This could be a video file, audio file, PDF, Word document, an image or basically any type of file.</p>
        <p>Once it is uploaded you can annotate the datapoint, create transcripts, organise them into collections and add additional information to contextualise your data.</p>

        <h2 class="text-warning">Warning:</h2>
        <ul>
            <li>
                Only MP4 videos are supported. Please convert your videos to this format before upload. Software like <a href='https://handbrake.fr/'>will do the trick.</a>
            </li>
        </ul>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/upload.js' %}"></script>
{% endblock javascript %}
