{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="page-header">
        <h1>File Upload</h1>
    </div>

    <div class="col-md-2">

    </div>

    <div class="col-md-8">
        <form action="{% url 'datapoint:upload_file' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button id="upload-button" class="btn btn-primary btn-lg pull-right" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Uploading" autocomplete="off" type="submit"><i class='fa fa-cloud-upload'></i> Upload</button>
        </form>
    </div>

    <div class="col-md-2">

    </div>


{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/upload.js' %}"></script>
{% endblock javascript %}