{% extends "base.html" %}
{% load static %}

{% block content %}
        <!-- Navigation controls -->
        <ol class="breadcrumb">
            <li><a href="{% url 'users:detail' request.user.username  %}">{{request.user.username}}</a></li>
            <li><a href="{% url 'project:list' %}">{{object.project}}</a></li>
        </ol>

        <ul class="nav nav-tabs" role="tablist" id="datapoint-tabs">
          <li role="presentation" class="active">
              <a href="#info" role="tab" data-toggle="tab">
                <i class="fa fa-info-circle"></i> Info
              </a>
          </li>
          <li role="presentation">
              <a href="#transcripts" role="tab" data-toggle="tab">
                <i class="fa fa-file"></i> Transcripts
              </a>
          </li>
          <li role="presentation">
              <a href="#discuss" role="tab" data-toggle="tab">
              <i class="fa fa-comment"></i> Discussion
              </a>
          </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="info">
                <!-- Main Detail Page content-->
                <div class="col-md-6">
                    <h3>{{object.name}}</h3>
                    <hr>
                    <i>{{object.description}}</i>

                    <h3>Actions</h3>
                    <hr>
                        <a class="btn btn-danger" href="{% url 'datapoint:delete' pk=object.pk %}"><i class="fa fa-trash-o fa-lg"></i> Delete</a><br/>
                        <a class="btn btn-default" href="#"><i class="fa fa-archive"></i> Add to Collection</a>
                        <a class="btn btn-default" href="/media/{{ object.file }}"><i class="fa fa-cloud-download"></i></i> Download</a>
                </div>



                <div class="col-md-6">
                    <!-- Thumbnail/Preview -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Preview</h3>
                            <hr>
                            <i class="fa fa-file fa-5x"></i>

                        </div>
                    </div>

                    <!-- Tagging -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                <i class="fa fa-tags"></i> Tags
                                <a data-toggle="modal" data-target="#add-tag-modal" class="btn btn-default pull-right">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </h3>
                            <hr>

                            {% for tag in object.tags.all %}
                            <div class="btn-group">
                              <a class="btn btn-default" href="#"></i>{{tag.name}}</a>
                              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="fa fa-caret-down"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
                              </ul>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Add a new tag -->
                    <div class="modal fade" id="add-tag-modal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Add tag</h4>
                          </div>
                          <div class="modal-body">
                            <form role="form">
                              <div class="form-group">
                                <label for="new-tag">Tag</label>
                                <input type="text" class="form-control" id="new-tag" placeholder="Enter tag">
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="transcripts">
                <h1>Transcripts here. Get your transcripts here!</h1>
            </div>

            <div role="tabpanel" class="tab-pane" id="discuss">
                <h1>Discussions here. Get your discussion here!</h1>
            </div>

        </div>


{% endblock content %}

{% block javascript %}
        {{ block.super }}
        <script src="{% static 'js/datapoint.js' %}"></script>
{% endblock javascript %}