{% extends "base.html" %}

{% block content %}
<div class="col-md-9">
    <div class="page-header">
      <h1>Collections <small>List View</small></h1>
    </div>

    <ul>
        {% for collection in object_list %}
            <li><a href="{% url 'collection:detail' slug=collection.slug %}"><h4>{{ collection.name }}</h4></a> - <i>{{ collection.description|truncatewords:15 }}</i></li>
        {% empty %}
        <div class="jumbotron">
            <h1>No collections exist</h1>
            <p>You should create one!</p>
            <p><a href="{% url 'collection:create' %}" class="btn btn-primary btn-lg" role="button">Create Collection</a></p>
        </div>
        {% endfor %}
    </ul>
</div>

<div class="col-md-3">
    <div class="page-header">
      <h1><small>Settings</small></h1>
    </div>

    <a href="{% url 'collection:create' %}"><button type="submit" class="btn btn-primary">Create new Collection</button></a>
</div>
{% endblock content %}