{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.name }} - Lackawanna{% endblock title %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/custom-bootstrap.css' %}" rel="stylesheet" type="text/css"/>
{% endblock css %}

{% block content %}
<div class="col-md-12">
    <ol class="breadcrumb">
        <li><a href="{% url 'project:detail' slug=object.project.slug %}">{{ object.project.name }}</a></li>
        <li id='bread-name' class="active">{{ object.name }}</li>
    </ol>

    {% if request.user == object.owner %}
    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar">
                <a href="{% url 'collection:delete' slug=object.slug %}" class="btn btn-danger pull-right"><i class="fa fa-trash"></i> Delete Collection</a>
            </div>
        </div>
    </div>

    <br>
    {% endif %}

    {% if datapoints %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>File Type</th>
                            <th>Date Uploaded</th>
                        </tr>
                    </thead>
                    {% for datapoint in datapoints %}
                    <tr>
                        <td><i class="fa fa-file-{% if datapoint.filetype %}{{ datapoint.filetype }}-{% endif %}o fa-2x"></i></td>
                        <td><a href="{% url 'datapoint:viewer' pk=datapoint.pk %}">{{ datapoint.name}}</a></td>
                        <td>{{ datapoint.filetype }}</td>
                        <td>{{ datapoint.created }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </table>
        </div>
    </div>
    {% else %}
    <h2>No datapoints...yet</h2>
    <p>
        You can add datapoints to a collection from their detail page by clicking the 'Add to Collection' button in the Info section.
    </p>
    {% endif %}
    <br>
</div>


{% endblock content %}
