{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='col-md-12'>
    <div class="page-header">
        <h1>Search</h1>
    </div>

    <div class='col-md-4'>
        <form method="get" action=".">
            <table>
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <button type='submit' class='btn btn-primary'>Search</button>
                    </td>
                </tr>
            </table>
        </form>
    </div><!--.col-md-4-->
    <div class="col-md-8">
        <div style='display:none;'>
            <p style='display:none;' id='search-term'>{{query}}</p>
            <p id='savedsearch-pk'>{{savedsearch.0.pk}}</p>
        </div>
        <h3 style="display:inline;">Results</h3>
        {% if savedsearch %}
        <a role='button' class='btn btn-default pull-right' href='#' id='saved-search' data-pk='{{savedsearch.0.pk}}'><i class='fa fa-check'></i> Saved search</a>
        <a role='button' class='btn btn-default pull-right' href='#' id='save-search' style='display:none;'><i class="fa fa-plus"></i> Save search</a>
        {% else %}
        <a role='button' class='btn btn-default pull-right' href='#' id='save-search'><i class="fa fa-plus"></i> Save search</a>
        <a role='button' class='btn btn-default pull-right' href='#' id='saved-search' data-pk='0' style='display:none;'><i class='fa fa-check'></i> Saved search</a>
        {% endif %}



        {% if query %}
            {% for result in object_list %}
                {% if result.content_type == "datapoint.datapoint" %}
                {% include "search/includes/datapoint.html" %}
                {% endif %}
                {% if result.content_type == "datapoint.annotation" %}
                {% include "search/includes/annotation.html" %}
                {% endif %}
                {% if result.content_type == "transcript.transcript" %}
                {% include "search/includes/transcript.html" %}
                {% endif %}
                {% if result.content_type == "users.user" %}
                {% include "search/includes/user.html" %}
                {% endif %}
                {% if result.content_type == "tags.tag" %}
                {% include "search/includes/tags.html" %}
                {% endif %}
                <hr>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page_object.has_previous or page_object.has_next %}
                <div>
                    {% if page_object.has_previous %}<a href="?q={{ query }}&amp;page={{ page_object.previous_page_number }}">{% endif %}&laquo; Previous{% if page_object.has_previous %}</a>{% endif %}
                    |
                    {% if page_object.has_next %}<a href="?q={{ query }}&amp;page={{ page_object.next_page_number }}">{% endif %}Next &raquo;{% if page_object.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            <p>You haven't searched yet.</p>
        {% endif %}
    </div><!--.col-md-8-->
    <br>
    <br>
</div>

{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/search.js' %}"></script>
{% endblock javascript %}
