.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6; }

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6; }

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7; }

.statgrab div.statcircle {
  width: 200px;
  height: 200px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px; }

.statgrab h2.stat {
  font-family: dynalight, sans-serif;
  color: #ffffff;
  font-size: 750%;
  text-align: center;
  vertical-align: middle; }

.statgrab p {
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 200%; }

body {
    background-color:#f1f1f1;
}

#parent-container {
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    margin-left: 2em;
    margin-right: 2em;
}
