{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.name }}{% endblock title %}

{% block css %}
<!--    <link href="{% static 'css/libs/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>-->
    <link href="{% static 'css/libs/dataTables.bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    {{ block.super }}
{% endblock css %}
{% block content %}
<div class="col-md-4 panel">
    <h1>{{project.name}}</h1>
    <h4><i>By <a href="{% url 'users:detail' project.owner.username %}">{{project.owner}}</a></i></h4>
    <p><b>Description: </b>{{project.description}}</p>
    <hr>
    <a href="{% url 'datapoint:upload' %}" class='btn btn-block btn-primary'><i class="fa fa-file"></i> Upload Datapoint to {{ project.name }}</a>
    {% if request.user == project.owner %}
    <br>
    <div class='btn-group btn-group-justified' role='group' aria-label='...'>
        <a href="#" class="btn btn-default"><i class="fa fa-cog"></i> Settings</a>
        <a class="btn btn-danger" href="{% url 'project:delete' slug=object.slug %}"><i class="fa fa-trash-o fa-lg"></i> Delete</a>
    </div>
    {% else %}
    {% endif %}
    <hr>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            Collections <a href="{% url 'collection:create' %}?project={{ object.pk }}" class="pull-right"><i class="fa fa-plus"></i></a>
        </div>
        {% if collections %}
            <div class="list-group">
                {% for collection in collections %}
                <a href="{% url 'collection:detail' slug=collection.slug %}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ collection.name }}<span class="badge pull-right">{{ collection.datapoint_count }}</span></h4>
                    <p class="list-group-item-text">{{ collection.description }}</p>
                </a>
                {% empty %}
                <a class="list-group-item">
                    <h4 class="list-group-item-heading">No collections</h4>
                    <p class="list-group-item-text">Click the plus symbol above to start!</p>
                </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="panel-body">
                <p>Organise your project's datapoints into collections based on theme, source, or anything!</p>
            </div>
        {% endif %}
        <div class="panel-footer">
            <a href="{% url 'collection:create' %}?project={{ object.pk }}"><i class='fa fa-plus'></i> Create a new collection</a>
        </div>
    </div>
</div>

<div class="col-md-8">
    {% if datapoints %}
        <table id='datapoint-table' class="table table-hover">
            <thead>
            <tr>
              <th>Type</th>
              <th>Name</th>
              <th>Owner</th>
              <th>Date Uploaded</th>
            </tr>
          </thead>
          {% for datapoint in datapoints %}
            <tr>
                  {% if datapoint.filetype == "web" %}
                  <td data-order='{{ datapoint.filetype }}'><i class="fa fa-cloud fa-2x"></i></td>
                  {% elif datapoint.filetype %}
                  <td data-order='{{ datapoint.filetype }}'><i class="fa fa-file-{% if datapoint.filetype != 'file' %}{{ datapoint.filetype }}-{% endif %}o fa-2x"></i></td>
                  {% else %}
                  <td data-order='unknown'><i class="fa fa-file-o fa-2x"></i></td>
                  {% endif %}
                  <td>
                      <a href="{% url 'datapoint:viewer' pk=datapoint.pk %}">
                          {% if datapoint.name %}{{ datapoint.name}}{% else %}<i>Unnamed Datapoint</i>{% endif %}
                      </a>
                  </td>
                  <td>{% if datapoint.owner.first_name and datapoint.owner.last_name %}
                        {{ datapoint.owner.first_name }} {{ datapoint.owner.last_name }}
                      {% else %}
                        {{ datapoint.owner.username }}
                      {% endif %}</td>
                  <td>{{ datapoint.created }}</td>
            </tr>
          {% endfor %}
        </table>
    {% else %}
    <h2>No datapoints</h2>
    <p>
        Datapoints represent files or web resources that have have been uploaded to Lackawanna. Start uploading your research files by pressing the Upload button to the left!
    </p>
    {% endif %}
</div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/libs/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'js/libs/dataTables.bootstrap.min.js'%}"></script>
    <script src="{% static 'js/project.js'%}"></script>
{% endblock javascript %}
