{% extends "base.html" %}

{% block content %}
<div class="col-md-4 panel">
    <h1>{{project.name}}</h1>
    <h4><i>By <a href="{% url 'users:detail' project.owner.username %}">{{project.owner}}</a></i></h4>
    <p><b>Description: </b>{{project.description}}</p>
    <hr>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            Collections <a href="{% url 'collection:create' %}" class="pull-right"><i class="fa fa-plus"></i></a>
        </div>
        <div class="panel-body">
            <p>Organise your project's datapoints into collections based on theme, source, or anything!</p>
        </div>
        <div class="list-group">
            {% for collection in collections %}
            <a href="{% url 'collection:detail' slug=collection.slug %}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ collection.name }}<span class="badge pull-right">45</span></h4>
                <p class="list-group-item-text">{{ collection.description }}</p>
            </a>
            {% empty %}
            <a class="list-group-item">
                <h4 class="list-group-item-heading">No collections</h4>
                <p class="list-group-item-text">Click the plus symbol above to start!</p>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-md-8">
    <img src="http://placehold.it/800x500"></img>
</div>
{% endblock content %}