{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Lackawanna{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Your stuff: Third-party css libraries go here -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/colors.css' %}" rel="stylesheet">
    <link href="{% static 'css/buttons.css' %}" rel="stylesheet">
    <link href="{% static 'css/libs/typeahead.css' %}" rel="stylesheet">

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom-bootstrap.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                {% if request.user.is_authenticated %}
                    <a class="navbar-brand" rel="home" href="{% url 'dashboard:index' %}" title="Lackawanna">
                        <img style="max-height:1.35em;"
                             src="{% static 'images/logo/lackawannaLogo-xxsm.png' %}">
                    </a>
                {% else %}
                    <a class="navbar-brand" rel="home" href="{% url 'home' %}" title="Lackawanna">
                        <img style="max-height:1.35em;"
                             src="{% static 'images/logo/lackawannaLogo-xxsm.png' %}">
                    </a>
                {% endif %}
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="create-dropdown" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if request.user.is_authenticated %}
                    <p id='user-pk' style='display:none;'>{{request.user.pk}}</p>
                    <li ><a href="{% url 'dashboard:index' %}">Home</a></li>
                    <li id='projects-dropdown' class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header">My Projects</li>
                            <li id='projects-loading'><a href="#"><i class="fa fa-refresh fa-spin"></i> Loading...</a></li>
                        </ul>
                    </li>
                    <li id='savedsearch-dropdown' class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header">Saved Searches</li>
                            <li id='savedsearch-loading'><a href="#"><i class="fa fa-refresh fa-spin"></i> Loading...</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'datapoint:upload' %}">Upload</a>
                    </li>
                    {% else %}
                    <li ><a href="{% url 'about' %}">About</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                    <form class="navbar-form navbar-left" role="search" action="/search/" method="get">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                            <!--<input type="text" id='auto-search' name='q' class="form-control typeahead" placeholder='Search'>-->
                            <input type="text" name="q" class="form-control" placeholder="Search">
                        </div>
                    </form>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i> <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'datapoint:upload' %}"><i class="fa fa-file"></i> Upload Datapoint</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'project:create' %}"><i class="fa fa-pencil"></i> Create Project</a></li>
                        <li><a href="{% url 'collection:create' %}"><i class="fa fa-archive"></i> Create Collection</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          {% if request.user.first_name and request.user.last_name %}
                            {{ request.user.first_name}} {{ request.user.last_name }} <span class="caret"></span></a>
                          {% else %}
                            {{ request.user.username }} <span class="caret"></span></a>
                          {% endif %}
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="{% url 'users:detail' request.user.username  %}"><i class="fa fa-user"></i> {% trans "My Profile" %}</a></li>
                          <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i>{% trans "Logout" %}</a></li>
                      </ul>
                    </li>

                    {% else %}
                    <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
                    <li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div id='parent-container' class="container-fluid">
        <div class="row">
            <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                {% if messages %}
                  <br />
                  {% for message in messages %}
                     <div class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                         <button type="button" class="close" data-dismiss="alert">×</button>
                         {{ message }}
                     </div>
                  {% endfor %}
                {% endif %}
            </div>
                <br>
                {% block content %}
                {% endblock content %}
                <br>
        </div>
    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% block javascript %}
      <!-- Latest JQuery -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="//use.edgefonts.net/dynalight.js"></script>
      <script src="{% static 'js/libs/buttons.js' %}"></script>
      <script src="{% static 'js/libs/jquery.cookie.js' %}"></script>
      <script src="{% static 'js/libs/bootstrap-typeahead.js' %}" type="text/javascript"></script>

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/lackawanna.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>
