{% load staticfiles %}

<div id='datapoint-div' class="col-md-12 col-sm-10">
    <!-- Datapoint Viewer -->
    {% if object.large_file or object.file %}
        <!-- Switch viewer based on file type -->
        {% if object.filetype == "video" %}
            {% include "datapoint/detail/viewer_video.html" %}
        {% elif object.filetype == "audio" %}
            {% include "datapoint/detail/viewer_audio.html" %}
        {% elif object.filetype == 'image' %}
            {% include "datapoint/detail/viewer_image.html" %}
        {% elif object.filetype == 'text' %}
            {% include "datapoint/detail/viewer_text.html" %}
        {% elif object.filetype == 'pdf' %}
            {% include "datapoint/detail/viewer_pdf.html" %}
        {% else %}
            <!-- Show the file -->
            <div id='viewer' class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ object.file.url }}"></iframe>
            </div>
        {% endif %}

    {% else %}
        <div class='jumbotron'>
            <h2 class='text-warning'>No file associated with this datapoint</h2>
            <p>
                Please try uploading your datapoint again as a new datapoint.
            </p>
            <span class="fa-stack fa-5x">
                <i class="fa fa-file fa-stack-1x"></i>
                <i class="fa fa-ban fa-stack-2x text-danger"></i>
            </span>
        </div>
    {% endif %}
</div>
