{% extends "base.html" %}

{% block title %}Dashboard - Lackawanna{% endblock title %}

{% block content %}
<div class="container">
    <div class="col-md-4">
        <div class="row">
            {% block recent_projects %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Recent Projects <a href="{% url 'project:create' %}" class="pull-right"><i class="fa fa-plus"></i></a>
                </div>
                <div class="list-group">
                    {% for project in latest_projects %}
                    <a href="{% url 'project:detail' slug=project.slug %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ project.name }}<span class="badge pull-right">{{ project.datapoint_count }}</span></h4>
                        <p class="list-group-item-text">{{ project.description|truncatewords:17 }}</p>
                    </a>
                    {% empty %}
                    <a class="list-group-item">
                        <h4 class="list-group-item-heading">No projects</h4>
                        <p class="list-group-item-text">Click the plus symbol above to start!</p>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endblock %}
        </div>
        <div class="row">
            {% block recent_collections %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Recent Collections <a href="{% url 'collection:create' %}" class="pull-right"><i class="fa fa-plus"></i></a>
                </div>
                <div class="list-group">
                    {% for collection in latest_collections %}
                    <a href="{% url 'collection:detail' slug=collection.slug %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ collection.name }}<span class="badge pull-right">{{ collection.datapoint_count }}</span></h4>
                        <p class="list-group-item-text"><i>Part of the {{ collection.project.name }} project</i></p>
                    </a>
                    {% empty %}
                    <a class="list-group-item">
                        <h4 class="list-group-item-heading">No collections</h4>
                        <p class="list-group-item-text">Click the plus symbol above to start!</p>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class='col-md-12 col-lg-12 col-sm-12 col-xs-12'>
                <h3>Quick Actions</h3>
                <br>
            </div>
            <div class='col-md-4 col-lg-4 col-sm-4 col-xs-4'>
                <a href="{% url 'project:create' %}" class="button button-circle button-flat-primary" style="display:block;margin-left:auto;margin-right:auto;  width: 135px;
  height: 135px;
  line-height: 50px;"><i class="fa fa-plus"></i><br>Create Project</a>
            </div>
            <div class='col-md-4 col-lg-4 col-sm-4 col-xs-4'>
                <a href="{% url 'collection:create' %}" class="button button-circle button-flat-primary" style="display:block;margin-left:auto;margin-right:auto;  width: 135px;
  height: 135px;
  line-height: 50px;"><i class="fa fa-plus"></i><br>Create Collection</a>
            </div>
            <div class='col-md-4 col-lg-4 col-sm-4 col-xs-4'>
                <a href="{% url 'datapoint:upload' %}" class="button button-circle button-flat-primary" style="display:block;margin-left:auto;margin-right:auto;  width: 135px;
  height: 135px;
  line-height: 50px;"><i class="fa fa-plus"></i><br>Upload Datapoint</a>
            </div>
        </div>

        <!--<div class="row statgrab">
            <div class="col-md-4">
                <div class="statcircle bg-blue">
                    <h2 class="stat">{{project_count}}</h2>
                    <p class="label">Projects</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statcircle bg-aqua">
                    <h2 class="stat">{{users_count}}</h2>
                    <p class="label">Users</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statcircle bg-navy">
                    <h2 class="stat">{{datapoint_count}}</h2>
                    <p class="label">Datapoints</p>
                </div>
            </div>
        </div>-->
    </div>
</div>

{% endblock content %}
