{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="row">
            {% block recent_projects %}
                <h4>Recent Projects</h4>
                <div class="list-group">
                    {% if latest_projects %}
                        {% for project in latest_projects %}
                        <a href="{% url 'project:detail' slug=project.slug %}" class="list-group-item">
                            <h4 class="list-group-item-heading">{{ project.name }}</h4>
                            <p class="list-group-item-text">{{ project.description}}</p>
                        </a>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            <h4 class='list-group-item-heading'>No Projects</h4>
                            <p class='list-group-item-text'>Create a project to see it here</p>
                        </li>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
        <div class="row">
            {% block recent_collections %}
                <h4>Recent Collections</h4>
                <div class="list-group">
                    {% if latest_collections %}
                        {% for collection in latest_collections %}
                            <a href="{% url 'collection:detail' slug=collection.slug %}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{ collection.name }}</h4>
                                <p class="list-group-item-text">{{ collection.description}}</p>
                            </a>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            <h4 class='list-group-item-heading'>No collections</h4>
                            <p class='list-group-item-text'>Make one for your project to see them here.</p>
                        </li>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </div>
    <div class="col-md-8">

        <div class="row statgrab">
            <div class="col-md-4">
                <div class="statcircle bg-blue">
                    <h2 class="stat">{{project_count}}</h2>
                    <p class="label">Projects</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statcircle bg-aqua">
                    <h2 class="stat">{{users_count}}</h2>
                    <p class="label">Users</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statcircle bg-navy">
                    <h2 class="stat">{{datapoint_count}}</h2>
                    <p class="label">Datapoints</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                    <h3>Recent Updates</h3>

                    <img src="http://placehold.it/500x1000">

            </div>
        </div>
    </div>
</div>

{% endblock content %}
