{% extends "base.html" %}

{% block content %}
        {% if request.user.is_authenticated %}
        <div class="jumbotron">
            <h1>Hi, {{ user.username }}</h1>
            <p>
                Get started and explore Lackawanna!
            </p>
            <div class="btn-toolbar">
                <!-- Collections Buttons -->
                <a href="{% url 'dashboard:index' %}">
                    <button id="dashboard-button" type="button" class="btn btn-primary">Dashboard</button>
                </a>

                <a href="{% url 'users:detail' username=user.username %}">
                    <button type='button' class='btn btn-default'>User Profile</button>
                </a>
            </div>
        </div>

        {% else %}
        <div class="jumbotron">
            <h1>Welcome to Lackawanna</h1>
            <p>Please login or sign up to continue.</p>
            <div>
                <a class="btn btn-primary" role="button" href="{% url 'account_login' %}">Log in</a>
                <a class="btn btn-default" role="button" href="{% url 'account_signup' %}">Sign Up</a>
            </div>
        </div>
        {% endif %}
{% endblock content %}
