{% extends "base.html" %}

{% block content %}
        {% if request.user.is_authenticated %}
        <div class="jumbotron">
            <h1>Hi, {{ user.username }}</h1>
            <p>
                Get started and explore Lackawanna!
            </p>
            <div class="btn-toolbar">
                <!-- Collections Buttons -->
                <a id="dashboard-button" role='button' class='btn btn-primary' href="{% url 'dashboard:index' %}">Dashboard</a>
                <a role='button' class='btn btn-default' href="{% url 'users:detail' username=user.username %}">User Profile</a>
            </div>
        </div>

        {% else %}
        <div class="jumbotron">
            <h1>Welcome to Lackawanna</h1>
            <p>Please login or sign up to continue.</p>
            <div>
                <a class="btn btn-primary" role="button" href="{% url 'account_login' %}">Log in</a>
                <a class="btn btn-default" role="button" href="{% url 'account_signup' %}">Sign Up</a>
            </div>
        </div>
        {% endif %}
{% endblock content %}
